.backgroundBlur {
    background-color: rgba(31, 41, 55, 0.6);
    backdrop-filter: blur(10px);
}

#ainda{
    box-shadow: inset 20 20 20 20px red;
    
}

.flag{
    background-color: rgba(35, 56, 118, 0.5);
    backdrop-filter: blur(10px);
}

.flag:hover{
    background-color: rgba(30, 66, 159, 0.5);
    backdrop-filter: blur(10px);
}
